In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer
import json
import pickle
import string
from nltk.corpus import stopwords
import nltk

Import Data

In [3]:
df=pd.read_csv('Illinois_review.csv')
df.head()

,Unnamed: 0,review_id,user_id,business_id,stars_review,useful,funny,cool,text,date,...,state,postal_code,latitude,longitude,stars_business,review_count,is_open,attributes,categories,hours
0,30720,Ad91EzbAGRCR1SwkPfZJKg,LWTvg7RlyNLXIf482tXBPw,WCVFqK84i2H5EClSoow7ZA,5.0,0,0,0,"Traveling through in our RV, stopped over in G...",2016-07-21 17:41:18,...,IL,62040,38.761132,-90.084759,4.5,33,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Burgers, American (Traditional), R...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,30721,vYJXkULTCNVcfX7V34NDNw,kTnqh6o9zPeiks3JVv-DyQ,WCVFqK84i2H5EClSoow7ZA,5.0,4,0,0,"Before starting our trip, boyfriend and I wer...",2016-07-15 02:21:25,...,IL,62040,38.761132,-90.084759,4.5,33,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Burgers, American (Traditional), R...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
2,30722,fjNcdg1AWZH-ktGIqMpKQw,9TJa9ORBQ6wjz-BqDYc2XA,WCVFqK84i2H5EClSoow7ZA,4.0,0,0,0,This food place is near my work and the fellow...,2018-06-19 12:32:31,...,IL,62040,38.761132,-90.084759,4.5,33,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Burgers, American (Traditional), R...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
3,30723,Rc_8HI1BijwocWuqZdcFYw,I4aEtgDc9NhEdy_xDEL1mQ,WCVFqK84i2H5EClSoow7ZA,5.0,1,0,0,"This place lives up to its name: itty bitty, b...",2017-09-22 14:16:40,...,IL,62040,38.761132,-90.084759,4.5,33,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Burgers, American (Traditional), R...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,30724,4lorAGeXbUrf-lAeO1TF8g,26duDjXndAb04W94N2mO_Q,WCVFqK84i2H5EClSoow7ZA,5.0,2,0,1,I am not ashamed to admit that I'm addicted to...,2012-04-11 15:17:56,...,IL,62040,38.761132,-90.084759,4.5,33,0,"{'BusinessParking': ""{'garage': False, 'street...","Sandwiches, Burgers, American (Traditional), R...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."

In [4]:
df_business = pd.read_json('yelp_academic_dataset_business.json', lines=True)
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
# Checking null values in dataframe
df.isnull().sum()

Unnamed: 0           0
review_id            0
user_id              0
business_id          0
stars_review         0
useful               0
funny                0
cool                 0
text                 0
date                 0
name                 0
address            202
city                 0
state                0
postal_code          0
latitude             0
longitude            0
stars_business       0
review_count         0
is_open              0
attributes        1556
categories           5
hours             4962
dtype: int64

In [6]:
# Select only stars and text
yelp_data = df[['business_id', 'user_id', 'stars_business', 'text']]

In [9]:
nltk.download('stopwords')
stop = []
for word in stopwords.words('english'):
    s = [char for char in word if char not in string.punctuation]
    stop.append(''.join(s))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/dhruvmehtadm/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
def text_process(mess):
    """
    1. Removes all punctuation
    2. Removes all stopwords
    3. Returns a list of cleaned text
    """
    # Check characters to see if they are punctuation characters
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Removing stopwords
    return " ".join([word for word in nopunc.split() if word.lower() not in stop])

In [11]:
yelp_data['text'] = yelp_data['text'].apply(text_process)

/var/folders/8r/9jqm18mn7rbgxwwm5mp_2tdc0000gn/T/ipykernel_27933/2968469597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_data['text'] = yelp_data['text'].apply(text_process)

In [12]:
# Spliting train and test sets
vld_size=0.15
X_train, X_valid, y_train, y_valid = train_test_split(yelp_data['text'], df['business_id'], test_size = vld_size)

Create two tables of user-text and business-text

In [13]:
userid_df = yelp_data[['user_id','text']]
business_df = yelp_data[['business_id', 'text']]

In [14]:
userid_df.head()

                  user_id                                               text
0  LWTvg7RlyNLXIf482tXBPw  Traveling RV stopped Granite City Found little...
1  kTnqh6o9zPeiks3JVv-DyQ  starting trip boyfriend looking spot dinner ne...
2  9TJa9ORBQ6wjz-BqDYc2XA  food place near work fellow employees frequent...
3  I4aEtgDc9NhEdy_xDEL1mQ  place lives name itty bitty food delicious Not...
4  26duDjXndAb04W94N2mO_Q  ashamed admit Im addicted Itty Bitty work righ...

In [15]:
userid_df[userid_df['user_id']=='LWTvg7RlyNLXIf482tXBPw']['text']

0    Traveling RV stopped Granite City Found little...
Name: text, dtype: object

In [16]:
business_df.head()

              business_id                                               text
0  WCVFqK84i2H5EClSoow7ZA  Traveling RV stopped Granite City Found little...
1  WCVFqK84i2H5EClSoow7ZA  starting trip boyfriend looking spot dinner ne...
2  WCVFqK84i2H5EClSoow7ZA  food place near work fellow employees frequent...
3  WCVFqK84i2H5EClSoow7ZA  place lives name itty bitty food delicious Not...
4  WCVFqK84i2H5EClSoow7ZA  ashamed admit Im addicted Itty Bitty work righ...

In [17]:
userid_df = userid_df.groupby('user_id').agg({'text': ' '.join})
business_df = business_df.groupby('business_id').agg({'text': ' '.join})

In [18]:
userid_df.loc['LWTvg7RlyNLXIf482tXBPw']['text']

'Traveling RV stopped Granite City Found little gem cafe Upon entering staff sweet friendly like home cooking ate twice food choices fresh delicious like would fix home Yum'


User TF-IDF Vectorizer with 5000 Features

In [19]:
# user_id vectorizer
userid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
userid_vectors = userid_vectorizer.fit_transform(userid_df['text'])
print(userid_vectors.shape)

# business_id vectorizer
businessid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
businessid_vectors = businessid_vectorizer.fit_transform(business_df['text'])
print(businessid_vectors.shape)

/opt/homebrew/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

(22248, 5000)
(2145, 5000)

Matrix Factorization

In [20]:
userid_rating_matrix = pd.pivot_table(yelp_data, values='stars_business', index=['user_id'], columns=['business_id'])
userid_rating_matrix.shape

(22248, 2145)

In [21]:
userid_rating_matrix.head()

business_id,-0epFLgYq2C1Jo_W4FOBKw,-1wnOZFsvsJPEXh_hWcmMA,-2gmbMDzKgYZ_8DOnJtPyw,-6kNhGurAbdNQanqbAaoMg,-78Va3llKcPbL6SW4is8lw,-7_R1BNUukbvb97OMNmxnA,-9Kxik9BRNkft5rPcVvSsw,-9QWlFM3KH0DBS1wiHZJXA,-Awb67JgBbySP4mQtOtNsA,-CoSh2bjDUFPDPjPe43zXA,...,zkUGrri25CXfZc4OS2BtPg,zl7PBrWPw0z0kgSPlXPw1A,zq2WjEegVGBejN3yqE1nSw,zqTe5nSb-GQTXPUpnFZVww,zqeQqA2mDeBeMws48fXAfA,zssHuR6YBH1KUoMggIXpJQ,zvfHwAElgU3u7I5yEixTEg,zwGvMQ7Nw0VwqLUYDuxRXQ,zxPrYDKCHtow8NnC1UH65w,zy9dXnIg6mnZBiti-M--1A
user_id,,,,,,,,,,,,,,,,,,,,,
--2eQbUFyRvXKgc-AEZXmw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--FEYzujiiMt7r5QCvX8YQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--OcebC4uT2T34HHgWIT-A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--_Q0PF6V_QhCh2yng7zSg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--inoxVRk5TYjhuI4e304A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
P = pd.DataFrame(userid_vectors.toarray(), index=userid_df.index, columns=userid_vectorizer.get_feature_names_out())
Q = pd.DataFrame(businessid_vectors.toarray(), index=business_df.index, columns=businessid_vectorizer.get_feature_names_out())

Gradient Decent Optimization

In [24]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [ ]:
# %%time
# P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=25, gamma=0.001,lamda=0.02)

CPU times: user 15h 34min 35s, sys: 59min 52s, total: 16h 34min 27s
Wall time: 5h 59min 7s

In [ ]:
# P.to_pickle("/Users/ketanrode/Desktop/Taste AI/P.pkl")
# Q.to_pickle("/Users/ketanrode/Desktop/Taste AI/Q.pkl")

In [26]:
P = pd.read_pickle('P.pkl')
Q = pd.read_pickle('Q.pkl')

In [27]:
Q.iloc[0].sort_values(ascending=False).head(10)

coffee       0.428238
food         0.412389
breakfast    0.405706
columbia     0.301916
good         0.290570
quiche       0.284859
great        0.284407
place        0.250176
service      0.231249
chocolate    0.228462
Name: -0epFLgYq2C1Jo_W4FOBKw, dtype: float64

Exporting model

In [ ]:
# import pickle
# output = open('yelp_recommendation_model_8.pkl', 'wb')
# pickle.dump(P,output)
# pickle.dump(Q,output)
# pickle.dump(userid_vectorizer,output)
# output.close()

Testing on user input

In [33]:
words = input()
test_df= pd.DataFrame([words], columns=['text'])
test_df['text'] = test_df['text'].apply(text_process)
test_vectors = userid_vectorizer.transform(test_df['text'])
test_v_df = pd.DataFrame(test_vectors.toarray(), index=test_df.index, columns=userid_vectorizer.get_feature_names_out())

predictItemRating=pd.DataFrame(np.dot(test_v_df.loc[0],Q.T),index=Q.index,columns=['Rating'])
topRecommendations=pd.DataFrame.sort_values(predictItemRating,['Rating'],ascending=[0])[:7]

print("Text - ",words)
print("\n")
for i in topRecommendations.index:
    print("Restaurant: ", df_business[df_business['business_id']==i]['name'].iloc[0])
    print("Known for: ", df_business[df_business['business_id']==i]['categories'].iloc[0])
    print("Ratings: ", str(df_business[df_business['business_id']==i]['stars'].iloc[0]))
    print("No of reviews: ", str(df_business[df_business['business_id']==i]['review_count'].iloc[0]))
    print('')

Text -  good food and service


Restaurant:  Lotawata Creek Southern Grill
Known for:  Restaurants, Southern, American (Traditional)
Ratings:  3.5
No of reviews:  550

Restaurant:  Hop House Southern Eatery
Known for:  Beer Bar, Soul Food, Southern, American (Traditional), Nightlife, Bars, Restaurants
Ratings:  4.0
No of reviews:  407

Restaurant:  Casa Maria Mexican Grill
Known for:  Restaurants, Tacos, Cocktail Bars, Bars, Nightlife, Mexican, Tex-Mex
Ratings:  4.5
No of reviews:  161

Restaurant:  The Egg & I
Known for:  Cafes, American (Traditional), American (New), Restaurants, Breakfast & Brunch
Ratings:  4.0
No of reviews:  232

Restaurant:  Cleveland-Heath
Known for:  American (New), Restaurants, American (Traditional)
Ratings:  4.5
No of reviews:  455

Restaurant:  Agostino's Restaurant and Bar
Known for:  Italian, American (Traditional), Event Planning & Services, Caterers, Restaurants, Nightlife, Bars, Venues & Event Spaces
Ratings:  4.0
No of reviews:  187

Restaurant:  Peel Wood Fired Pizza
Known for:  Nightlife, Restaurants, Bars, Pizza, Food, Breweries, Chicken Wings
Ratings:  4.0
No of reviews:  385